# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_INCOMING_TOPIC=transactions.incoming
KAFKA_ENRICHED_TOPIC=transactions.enriched
KAFKA_DLQ_TOPIC=transactions.dlq
KAFKA_CONSUMER_GROUP=transaction_service_group

# Database Configuration
# Format: postgresql+asyncpg://<user>:<password>@<host>:<port>/<db_name>
DB_URL=postgresql+asyncpg://user:password@postgres:5432/transactions_db

# Application Configuration
LOG_LEVEL=INFO
PROCESSOR_MAX_RETRIES=3